server {
        listen {{ nginx_http_port_app }};
        listen {{ nginx_https_port_app }} ssl;
        include ssl.conf;
        server_name {{ nginx_server_name }};

        root /etc/nginx/www;
        index index.html index.htm;

        location /(.*)/ {
            try_files $uri $uri =404;
        }
